@{
    ViewData["Title"] = "Home Page";
}
<section class="container-fluid">
    <article class="jumbotron">
        <p>Supported: <button class="btn btn-dark">DFC</button></p>
        <section class="row">
            <article class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2>Stake: <strong>DFC</strong></h2>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Days</th>
                                        <th>%Daily</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>30</td>
                                        <td>5%</td>
                                        <td>150%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form class="form-inline">
                            <div class="form-group mb-2">
                                <label for="invest-input"><strong>Invest (DFC)</strong></label>
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="number" class="form-control" id="invest-input" placeholder="Amount">
                            </div>
                            <button type="button" class="btn btn-dark mb-2">Confirm</button>
                        </form>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h2>Read before you invest</h2>
                        <p>
                            The principal deposit cannot be withdrawn, the only return users can get are daily dividends and referral rewards. Payments is possible only if contract balance have enough <strong>DFC</strong>. Please analyze the transaction history and balance of the smart contract before investing. High risk - high profit, DYOR
                        </p>
                    </div>
                </div>
            </article>
            <article class="col-md-4">
                <aside class="card">
                    <div class="card-body">
                        <h2>Your Farm</h2>
                        <p>DFC to Harvest</p>
                        <p><strong>0.0000000 DFC</strong></p>
                        <p><strong>$0.0000000</strong> <button class="btn btn-dark">Harvest</button></p>
                        <hr />
                        <p>DFC in Wallet</p>
                        <p><strong>0.0000000 DFC</strong></p>
                        <p><strong>$0.0000000</strong> <button class="btn btn-outline-dark" data-toggle="modal" data-target="#historyModal">History</button></p>
                    </div>
                </aside>
                <br />
                <aside class="card">
                    <div class="card-body">
                        <h2>Affiliate Program</h2>
                        <p><strong>1 LVL (your invited user) - 7%</strong></p>

                        <p><strong>2 LVL (user invited by your 1 lvl) - 3%</strong></p>

                        <p><strong>3 LVL - 1.5%</strong></p>

                        <p><strong>4 LVL - 1%</strong></p>

                        <p><strong>5 LVL - 0.5%</strong></p>
                        <div class="jumbotron">
                            <p><strong>Your Referral Link</strong></p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="https://www.example.com/637687267438" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="input-group-text btn" id="basic-addon2">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </article>
        </section>

    </article>

    <div data-controller="home">
        <input data-hello-target="name" type="text">

        <button data-action="click->home#greet">Greet</button>

        <span data-hello-target="output"></span>
    </div>

</section>

<section class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total Deposit</th>
                                <td>&nbsp;</td>
                                <th>Total Withdrawal</th>
                            </tr>
                            <tr>
                                <th>0.0000000DFC</th>
                                <td>&nbsp;</td>
                                <th>0.0000000DFC</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>


